$primaryColor: #673AB7;
$primaryLightColor: #9575CD;
$primaryDarkColor:  #512DA8;
$primaryDarkerColor: #311B92;

$secondaryColor: #d0e1e0;
$secondaryDarkColor: #009688;

$primaryTextColor: #212529;
$highlightTextColor: white;


$highlightNavigationColor: #ae9c52;


$infoColor: #D0E1E0;
$warnColor: #ae9c52;
$errorColor: #D34336;
