/*
 *	Apply google Roboto font to all UI components
 */
@import 'colors';

.root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.status-bar-box {
    -fx-padding: 5, 5;
    -fx-background-color: $primaryColor;
    Label {
        -fx-text-fill: $highlightTextColor;
        -fx-font-size: 1.2em;
    }
}


.jfx-tab-pane .headers-region {
    -fx-background-color: $primaryColor;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: $primaryColor;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: $highlightNavigationColor;
    -fx-stroke-width: 3pt;
}

.homepage-label {
    -fx-font-size: 32.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
    -fx-pref-width: 250px;

}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.application-label {
    -fx-font-size: 4em;
    -fx-padding: 32.0px;
    -fx-text-fill: $primaryColor;
}

.primary-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $primaryColor;
    -fx-text-fill: $highlightTextColor;

}

.primary-light-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $primaryLightColor;
    -fx-text-fill: $highlightTextColor;

}

.primary-dark-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $primaryDarkColor;
    -fx-text-fill: $highlightTextColor;
}

.secondary-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $secondaryColor;
}

.secondary-dark-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $secondaryDarkColor;
}

.info-label {
    -fx-font-size: 2em;
    -fx-padding: 14.0px;
    -fx-background-color: $infoColor;
}

.warn-label {
    -fx-font-size: 2em;
    -fx-padding: 14.0px;
    -fx-background-color:  $warnColor;
    -fx-text-fill: white;
}


.error-label {
    -fx-font-size: 2em;
    -fx-padding: 14.0px;
    -fx-background-color: $errorColor;
    -fx-text-fill: white;
}

.database-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $primaryColor;
    -fx-text-fill: $highlightTextColor;

}

.database-info-label {
    -fx-font-size: 1.5em;
    -fx-padding: 14.0px;
    -fx-background-color: $primaryLightColor;
    -fx-text-fill: $highlightTextColor;
}

.main-menu {
    -fx-font-size:16px;
    -fx-text-fill:#FFFFFF;
}

.main-menu-highlighted {
    -fx-font-size:16px;
    -fx-text-fill:$secondaryColor;
}

.navigation-menu {
    -fx-font-size:14px;
    -fx-text-fill: #E0E0E0;
}

.navigation-menu-highlighted {
    -fx-font-size:14px;
    -fx-text-fill:white;
}

.searchBox .jfx-text-field {
    -fx-padding: 0.333333em 1em 0.333333em 1em;
}

.searchBox .jfx-combo-box {
    -fx-padding: 0em 0.333333em 0em 0.333333em;
    -fx-translate-y: 0px;
}

.save-pane .jfx-button {
    -fx-font-size:14px;
    -fx-text-fill: white;
    -fx-background-color: $primaryDarkColor;

}

#toolbarBox  {
    .jfx-tool-bar {
        -fx-font-size: 20.0;
        -fx-font-weight: BOLD;
        -fx-background-color: $secondaryDarkColor;
        -fx-pref-width: 100.0%;
        -fx-pref-height: 48.0px;
    }
    .jfx-tool-bar Button {
        -fx-text-fill: WHITE;
    }
}
