/*
 *	Apply google Roboto font to all UI components
 */


.root {
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}


.jfx-tab-pane .headers-region {
    -fx-background-color: #5264AE;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #5264AE;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #ae9c52;
    -fx-stroke-width: 3pt;
}


.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.application-label {
    -fx-font-size: 48.0px;
    -fx-padding: 32.0px;
    -fx-text-fill: -red-400;
}

.info-label {
    -fx-font-size: 32.0px;
    -fx-padding: 14.0px;
    -fx-background-color: #5292ae;
}

.warn-label {
    -fx-font-size: 32.0px;
    -fx-padding: 14.0px;
    -fx-background-color: #ae9c52;
    -fx-text-fill: white;
}

.info-label {
    -fx-font-size: 32.0px;
    -fx-padding: 14.0px;
    -fx-background-color: white;
}

.error-label {
    -fx-font-size: 32.0px;
    -fx-padding: 14.0px;
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}

.main-menu-button {
    -fx-font-size:16px;
    -fx-text-fill:#FFFFFF;
}

.main-menu-button-highlighted {
    -fx-font-size:16px;
    -fx-text-fill:#5292ae;
}

.navigation-menu {
    -fx-font-size:14px;
    -fx-text-fill: #c1bebe;
}

.navigation-menu-highlighted {
    -fx-font-size:14px;
    -fx-text-fill:white;
}

.searchBox .jfx-text-field {
    -fx-padding: 0.333333em 1em 0.333333em 1em;
}

.searchBox .jfx-combo-box {
    -fx-padding: 0em 0.333333em 0em 0.333333em;
    -fx-translate-y: 0px;
}

.detailActionBox .jfx-button {
    -fx-font-size:14px;
    -fx-text-fill: white;
    -fx-background-color: #5292ae;

}

#toolbarBox  {
    .jfx-tool-bar {
        -fx-font-size: 20.0;
        -fx-font-weight: BOLD;
        -fx-background-color: #5292ae;
        -fx-pref-width: 100.0%;
        -fx-pref-height: 48.0px;
    }
    .jfx-tool-bar Button {
        -fx-text-fill: WHITE;
    }
}
